@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff")
      format("woff"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf")
      format("truetype"),
    url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff")
      format("woff"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf")
      format("truetype"),
    url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff")
      format("woff"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf")
      format("truetype"),
    url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix")
      format("embedded-opentype"),
    url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff")
      format("woff"),
    url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf")
      format("truetype"),
    url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Tufte CSS styles */
html {
  font-size: 15px;
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

article {
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 5em 0;
}

div.epigraph > blockquote {
  margin-top: 3em;
  margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

section > p,
section > footer,
section > table {
  width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
}

.no-tufte-underline:link {
  background: unset;
  text-shadow: unset;
}

a:link,
.tufte-underline,
.hover-tufte-underline:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(#fffff8, #fffff8),
    -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#fffff8, #fffff8),
    linear-gradient(#fffff8, #fffff8),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8,
    0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8,
    -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8,
    -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link,
  .tufte-underline,
  .hover-tufte-underline:hover {
    background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection,
a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe,
    0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe,
    -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe,
    -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  font-family: et-book-roman-old-style;
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 1rem;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline;
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 760px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  section > p,
  section > footer,
  section > table {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  section.main-signup {
    width: 100%;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }

  section.signup {
    width: 100%;
  }
}

/* CUSTOM CSS */
ul.inline-bulleted {
  padding-left: 0px;
  display: flex;
}

ul.inline-bulleted > li {
  margin-top: 0px;
  list-style: none;
  display: flex;
}

ul.inline-bulleted li:last-child:after {
  content: none;
}

ul.inline-bulleted li::after {
  content: "\2022";
  font-size: 14px;
  padding-left: 10px;
  margin-right: 10px;
}

img.maincolumn-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section > footer {
  border: #ccc;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}

section > p.discussion {
  border: #ccc;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.main-signup {
  width: 55%;
  border: #ccc;
  border-top-width: 1px;
  border-top-style: solid;
  padding-bottom: 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.main-signup > p {
  width: 100%;
}

/* CUSTOM EMAIL SIGNUP STYLE */

.mce-email-box {
  text-align: center;
}

#tlemail {
  padding: 1rem;
}

#mc-embedded-subscribe {
  padding: 1rem;
}

#mc_embed_signup_scroll {
  text-align: center;
}

#subscribe-container {
  z-index: 3999998;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 184px;
  max-width: 500px;
  height: 98px;
  animation: 250ms ease 0s 1 normal none running animation-bhegco;
  transition: opacity 0.3s ease 0s;
  overflow: hidden;
}

.gh-portal-triggerbtn-wrapper {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  opacity: 1;
  transition: transform 0.16s linear 0s;
  user-select: none;
  line-height: 1;
  padding: 10px 28px 0 17px;
}

.gh-portal-triggerbtn-container.with-label {
  padding: 0 12px 0 16px;
}

.gh-portal-triggerbtn-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ee822f;
  height: 60px;
  min-width: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px -2px;
  border-radius: 999px;
  transition: opacity 0.3s ease;
}

.gh-portal-triggerbtn-container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0);
  transition: background 0.3s ease;
}

.gh-portal-triggerbtn-wrapper span {
  margin-bottom: 1px;
}

.gh-portal-triggerbtn-label {
  padding: 8px;
  color: rgb(255, 255, 255);
  display: block;
  white-space: nowrap;
  max-width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Popup */
#popup-root {
  z-index: 3999999;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner-popup-container {
  width: 100%;
  height: 100%;
}

.gh-portal-popup-background {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadein 0.2s;
  background: linear-gradient(
    315deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gh-portal-popup-wrapper {
  position: relative;
  padding: 10vmin 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
}

.gh-portal-container-narrow {
  min-width: 380px;
}

.gh-portal-popup-container {
  outline: none;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  background: #fff;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 3.8px 2.2px rgba(0, 0, 0, 0.028),
    0 9.2px 5.3px rgba(0, 0, 0, 0.04), 0 17.3px 10px rgba(0, 0, 0, 0.05),
    0 30.8px 17.9px rgba(0, 0, 0, 0.06), 0 57.7px 33.4px rgba(0, 0, 0, 0.072),
    0 138px 80px rgba(0, 0, 0, 0.1);
  animation: popup 0.25s ease-in-out;
  z-index: 9999;
}

.gh-portal-content.signup,
.gh-portal-content.signin {
  max-height: unset !important;
  padding-bottom: 0;
}

.gh-portal-content.signup {
  background: linear-gradient(#fff 30%, hsla(0, 0%, 100%, 0)),
    linear-gradient(hsla(0, 0%, 100%, 0), #fff 70%) 0 100%,
    linear-gradient(#fff, transparent),
    linear-gradient(transparent, rgba(0, 0, 0, 0.06)) 0 100%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat, repeat, repeat, repeat;
  background-attachment: scroll, scroll, scroll, scroll;
  background-size: auto, auto, auto, auto;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.gh-portal-content {
  position: relative;
  overflow-y: scroll;
  padding: 24px 32px 32px;
  padding-bottom: 32px;
  max-height: calc(100vh - 20vmin);
  scrollbar-width: none;
}

.gh-portal-closeicon-container {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 999;
}

.gh-portal-closeicon {
  color: var(--grey9);
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 12px;
  transition: all 0.2s ease-in-out;
}

.gh-portal-signup-header,
.gh-portal-signin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px 24px;
}

.gh-portal-signup-logo + .gh-portal-main-title {
  margin: 4px 0 0;
}
.gh-portal-signup-header .gh-portal-main-title,
.gh-portal-signin-header .gh-portal-main-title {
  margin-top: 12px;
}
.gh-portal-main-title {
  text-align: center;
  color: var(--grey0);
  line-height: 1.35em;
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.hn {
  color: #828282;
  text-decoration: none !important;
}

.hn-image {
  max-width: 18px;
}
