---
layout: default
---
<article>
    <h2>Micah Lerner</h2>
    <section>
        <p>
            I'm a <a href="http://github.com/mlerner">builder</a> interested in maps,
            space, and futuristic ideas. I currently work on the Geo SRE team at Google.
            Previously, I helped build the Geospatial datasets powering Mapbox.
            Before that, I was a member of the infrastructure team at <a href="https://www.strava.com/">Strava</a>,
            and a founding employee at <a href="http://www.bitwiseinvestments.com">Bitwise</a>, the world's first
            cryptocurrency index fund.
        </p>
        <div style="padding-top: 20px">
            <h3>Recent writing</h3>
            <ul style="list-style: none; padding-left: 0px;">
                {% for post in site.posts %}
                {% unless post.tags contains 'draft' %}
                <li>
                    <p><a href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B %d, %Y' }}</p>
                    <!-- <p>Published {{ post.date | date: '%B %d, %Y' }} </p> -->
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>
        <div style="padding-top: 20px">
            <h3>Recent fragments</h3>
            <ul style="list-style: none; padding-left: 0px;">
                {% for post in site.fragments reversed %}
                {% unless post.tags contains 'draft' %}
                <li>
                    <p><a href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B %d, %Y' }}</p>
                    <!-- <p>Published {{ post.date | date: '%B %d, %Y' }} </p> -->
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>
    </section>
</article>
