<!DOCTYPE html>
<html>
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-LKBDWTJ60B"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-LKBDWTJ60B");
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Diving into Reverse Engineering</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta http-equiv="imagetoolbar" content="false" />

    <link href="/css/tufte.css" rel="stylesheet" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Atom Feed for www.micahlerner.com"
      href="/atom.xml"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="RSS Feed for www.micahlerner.com"
      href="/feed.xml"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/imagessite.webmanifest" />
  </head>

  <body>
    <article>
  <section>
    <header>
      <a href="/">
        <h3>micahlerner.com</h3>
      </a>
    </header>
  </section>
  <h1>Diving into Reverse Engineering</h1>
  
  <h4>Published July 23, 2019</h4>
  <h5>
    Found something wrong?
    <a
      href="https://github.com/mlerner/mlerner.github.io/edit/master/_fragments/2019-07-23-RE.md"
      >Submit a pull request!</a
    >
  </h5>
  <section>
    <p>Over the past couple of weeks I have been reading <a href="https://www.amazon.com/Practical-Reverse-Engineering-Reversing-Obfuscation-ebook/dp/B00IA22R2Y">Practical Reverse Engineering</a>. Reverse Engineering is one of the major topics that CTFs cover, and I wanted to deepen my knowledge here before moving on to Math and Cryptography (I have <a href="https://www.schneier.com/books/applied_cryptography/">Applied Cryptography</a> waiting for me on my bookshelf). I won’t spend too much time going over the first book, as I haven’t finished it yet and will write a full review later, but I wanted to record my thoughts about learning reverse engineering so far.</p>

<p>Practical Reverse Engineering is split up so that the first several chapters go over different flavors of assembly, x86 and ARM. The book has challenges…but they are in an analog format (literally written into the book), and aren’t as comprehensive as I would have liked, in light of the fact that I enjoyed solving the challenges and was searching for more to work on. Because of that, I went searching for other x86 challenges online and found several resources.</p>

<p>One of the great resources I found was from <a href="https://trailofbits.github.io/ctf/vulnerabilities/binary.html">Trail of Bits</a>. While they provide links to explanations of the basics of x86, the main part of their guide that I found useful was a link to labs from CMU and RIT. These two labs seemed to be a better place to start than what CTFs provide, as challenges in the latter format have a different goal than a teaching lab would (for example, making problems trickier and assuming prior knowledge).</p>

<p>Before starting with the challenges, I needed to first pick a tool to use. The Trail of Bits resource suggested using two main tools: a debugger to step through binaries and a binary analysis tool to visualize the inner works of the assembly programs. I didn’t deviate from the debugging tool (GDB, short for GNU Debugger) that they suggest because almost everyone uses it to step through programs and set breakpoints.</p>

<p>In contrast to choices for debugging tools, there is definitely more optionality in binary analysis tooling - software that one uses to look at the branches in assembly code. IDA Pro has been the industry standard for a long time. Given that the guide is somewhat old and that I knew other tools had been released recently, I decided to spend some more time exploring what my options are - I’m sure that I would be able to learn a new binary analysis tool, but I would prefer not to switch mid-stream. After some initial exploration, I narrowed my choices to the following:</p>

<ul>
  <li><a href="https://www.hex-rays.com/products/ida/">IDA Pro</a> - somewhat old, industry standard, unclear whether people are switching over to something else</li>
  <li><a href="https://www.nsa.gov/resources/everyone/ghidra/">Ghidra</a> - people <a href="https://twitter.com/0x6d696368/status/1153016980741545984">seem</a> <a href="https://twitter.com/sayardiss/status/1104369455843422211">to</a> <a href="https://twitter.com/windsheep_/status/1105191443520475138">be</a> <a href="https://twitter.com/ghidraninja/status/1110939643271409666">excited</a> about this tool. It is produced by the NSA. I didn’t try it out.</li>
  <li><a href="https://rada.re/r/">Radare2</a> - Radare is an open source tool for binary analysis, it is primarily text-based, with no-GUI, although people are developing GUI interfaces for it, like <a href="https://github.com/radareorg/cutter">Cutter</a>. Updates relatively frequently, which could be a plus. It does seem to have a steep learning curve, and might be useful for automation - <a href="https://www.youtube.com/watch?v=y69uIxU0eI8">LiveOverflow uses it for that</a>.</li>
  <li><a href="https://binary.ninja/">Binary Ninja</a> - I found this tool while watching a video from LiveOverflow, a prominent YouTuber that solves CTF challenges (As a side note, he has a <a href="https://www.youtube.com/playlist?list=PLhixgUqwRTjxglIswKp9mpkfPNfHkzyeN">great playlist</a> for beginners that I highly recommend. Some content isn’t useful for everyone, but it advances relatively quickly). Interestingly, one of the creators of Binary Ninja did a DefCon <a href="https://www.youtube.com/watch?v=okPWY0FeUoU">talk about CTF’s a while ago</a>. There also was a <a href="https://www.youtube.com/watch?v=k63YMFKHJfI">great talk</a> about automation with Binary Ninja that I found to be pretty interesting. Lastly, Trail of Bits has made efforts to work with the product, as they mention in one of their <a href="https://blog.trailofbits.com/2019/05/30/announcing-automated-reverse-engineering-trainings/">recent blog posts</a>.</li>
</ul>

<p>The other main tooling change I made was adding more information to my GDB display - I think this is somewhat essential. Customizing the display allows you to see the source code, register values, and other debugging information all on the same screen. I like the gdbinit file <a href="https://github.com/cyrus-and/gdb-dashboard">here</a>, and might try out <a href="https://github.com/snare/voltron">Voltron</a> in the future.</p>

<p>I’m quite enjoying solving reverse engineering challenges, and I am building up to the “pwn” challenges, like <a href="https://exploit.education/">exploit.education</a> and <a href="https://microcorruption.com/login">Microcorruption</a> from Square. I’ll be writing up more about my learning in those areas soon!</p>


    <footer>
      <form
        action="https://gmail.us20.list-manage.com/subscribe/post?u=d1654f70a6addb0e9ce8afd83&amp;id=bab65ed2b1"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <h4>
            Follow me on
            <a href="https://twitter.com/micahlerner">Twitter</a> or subscribe
            below to get future paper reviews. Published weekly.
          </h4>
          <div>
            <input
              type="email"
              value=""
              name="EMAIL"
              class="email"
              id="tlemail"
              placeholder="email address"
              required
            />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input
                type="text"
                name="b_d1654f70a6addb0e9ce8afd83_bab65ed2b1"
                tabindex="-1"
                value=""
              />
            </div>
            <input
              type="submit"
              value="Subscribe"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
            />
          </div>
        </div>
      </form>
    </footer>
  </section>
  <section>
    Found something wrong?
    <a
      href="https://github.com/mlerner/mlerner.github.io/edit/master/_fragments/2019-07-23-RE.md"
      >Submit a pull request!</a
    >
  </section>
</article>

<div id="portal-root">
  <div id="subscribe-container">
    <div
      id="gh-portal-triggerbtn-wrapper"
      class="gh-portal-triggerbtn-wrapper"
    >
      <div class="gh-portal-triggerbtn-container with-label">
        <svg
          width="24"
          height="18"
          viewBox="0 0 24 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          style="width: 24px; height: 24px; color: rgb(255, 255, 255)"
        >
          <path
            d="M21.75 1.5H2.25c-.828 0-1.5.672-1.5 1.5v12c0 .828.672 1.5 1.5 1.5h19.5c.828 0 1.5-.672 1.5-1.5V3c0-.828-.672-1.5-1.5-1.5zM15.687 6.975L19.5 10.5M8.313 6.975L4.5 10.5"
            stroke="#fff"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
          <path
            d="M22.88 2.014l-9.513 6.56C12.965 8.851 12.488 9 12 9s-.965-.149-1.367-.426L1.12 2.014"
            stroke="#fff"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path></svg
        ><span class="gh-portal-triggerbtn-label"> Subscribe </span>
      </div>
    </div>
  </div>
</div>

<div id="popup-root" style="visibility: hidden">
  <div class="inner-popup-container">
    <div class="gh-portal-popup-background"></div>
    <div class="gh-portal-popup-wrapper signup">
      <div
        class="gh-portal-popup-container gh-portal-container-narrow signup"
        tabindex="-1"
      >
        <div class="gh-portal-content signup noplan">
          <div id="closeicon-email" class="gh-portal-closeicon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="gh-portal-closeicon"
              alt="Close"
            >
              <defs>
                <style>
                  .a {
                    fill: none;
                    stroke: currentColor;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 1.2px;
                  }
                </style>
              </defs>
              <path
                class="a"
                d="M.75 23.249l22.5-22.5M23.25 23.249L.75.749"
              ></path>
            </svg>
          </div>
          <header>
            <h2 class="gh-portal-main-title">Get essays a bit faster</h2>
          </header>
          <section>
            <div class="gh-portal-section">
              <form
                action="https://gmail.us20.list-manage.com/subscribe/post?u=d1654f70a6addb0e9ce8afd83&amp;id=bab65ed2b1"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate=""
                _lpchecked="1"
              >
                <label for="mce-EMAIL"> </label>
                <p id="mce-email-describe" class="mt0">
                  I write about computer science research from the fields of distributed systems and operating
                  systems around once a week.
                </p>
                <p>

                </p>
                <div id="mc_embed_signup_scroll">
                  <div>
                    <input
                      type="email"
                      value=""
                      name="EMAIL"
                      class="email"
                      id="tlemail"
                      placeholder="email address"
                      required=""
                    />

                    <div
                      style="position: absolute; left: -5000px"
                      aria-hidden="true"
                    >
                      <input
                        type="text"
                        name="b_d1654f70a6addb0e9ce8afd83_bab65ed2b1"
                        tabindex="-1"
                        value=""
                      />
                    </div>
                    <input
                      type="submit"
                      value="Subscribe"
                      name="subscribe"
                      id="mc-embedded-subscribe"
                      class="button"
                    />
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<script id="mcjs">
  var subscribeButton = document.getElementById("gh-portal-triggerbtn-wrapper");
  var closeButton = document.getElementById("closeicon-email");
  var popupRoot = document.getElementById("popup-root");

  subscribeButton.addEventListener("click", function () {
    popupRoot.classList.toggle("m-fadeIn");
    popupRoot.style.visibility = "visible";
  });

  closeButton.addEventListener("click", function () {
    popupRoot.classList.toggle("m-fadeOut");
    popupRoot.classList.toggle("m-fadeIn");
    popupRoot.style.visibility = "hidden";
  });
</script>

  </body>
</html>
