---
layout: default
---

<div class="section">

	<h1><a href="/">micahlerner.com</a></h1>
	<div class="content">
    	<h1>{{ page.title }} by {{page.author }}</h2>
        <div class="rating">
            <h3> 
                Rating:
                <div class="star" style="margin-left:10px;display:inline-block;background-size:15px 14px;height:14px;width: {{ page.rating |times:15}}px"></div>
            </h3>
        </div>
		{{ content }}
        <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    #mce-email-describe{ margin-top: 20px }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div style="">
    <div id="twitter">
        <a href="https://twitter.com/micahlerner"> Follow me on Twitter</a>
    </div>
</div>

<section id="email-form" style="border: 2px solid black; padding: 15px; text-align: center; padding-top: 30px;">
  <form action="https://gmail.us20.list-manage.com/subscribe/post?u=d1654f70a6addb0e9ce8afd83&amp;id=bab65ed2b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <label for="mce-EMAIL">
      <h3 style="margin-top:-10px; margin-bottom:-6px;">Get new essays sent to you</h3>
    </label>
    <p id="mce-email-describe">
      Subscribe to my writing on distributed systems, machine learning, and computer security. 
      Published a few times a month.
    </p>

    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" style="width:200px;font-size: 1.1em; padding-left:4px; line-height:1.7em">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button as-link green" style="position:relative; top: -1px; border-radius: 3px;
    border: 1px solid #97d69c;
    cursor: pointer;
    height: 37px;background-color: #3eb542;
    color: white;
    font-size:1.1em">

    <div id="mce-responses" class="clear" style="margin-top:15px">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  
  </form>
  <div style="clear:both"></div>
</section>

	</div>
</div>

