---
layout: default
---
<article>
    <section>
        <header>
            <a href="/">
                <h3>micahlerner.com</h3>
            </a>
        </header>
    </section>
    <h1>{{ page.title}}</h1>
    {% if post.tags.size > 0 %}
    <ul class="inline-bulleted">
        {% for tag in post.tags %}
        <li>
            {{ tag }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h4>Published {{ page.date | date: '%B %d, %Y' }}</h4>
    <h5>
        Found something wrong? <a href="https://github.com/mlerner/mlerner.github.io">Submit a pull request!</a>
    </h5>
    <section>
        {{ content }}

        <footer>
            <form
                action="https://gmail.us20.list-manage.com/subscribe/post?u=d1654f70a6addb0e9ce8afd83&amp;id=bab65ed2b1"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h4>Follow me on <a href="https://twitter.com/micahlerner">Twitter</a> or subscribe below to get future paper reviews. Published
                        weekly.</h4>
                    <div>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                            placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_d1654f70a6addb0e9ce8afd83_bab65ed2b1" tabindex="-1" value="">
                        </div>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="button">

                    </div>
                </div>
            </form>
        </footer>
    </section>
    <section>
        Found something wrong? <a href="https://github.com/mlerner/mlerner.github.io">Submit a pull request!</a>
    </section>
</article>