---
layout: default
---
<article>
    <section>
        <header>
            <a href="/">
                <h3>micahlerner.com</h3>
            </a>
        </header>
    </section>
    <h1>{{ page.title}}</h1>
    {% if post.tags.size > 0 %}
    <ul class="inline-bulleted">
        {% for tag in post.tags %}
        <li>
            {{ tag }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h4>Published {{ page.date | date: '%B %d, %Y' }}</h4>
    <h5>
        Found something wrong? <a href="https://github.com/mlerner/mlerner.github.io">Submit a pull request!</a>
    </h5>
    <section>
        {{ content }}
    </section>
    <section>
        Found something wrong? <a href="https://github.com/mlerner/mlerner.github.io">Submit a pull request!</a>
    </section>
</article>